*{
    box-sizing: border-box;
    margin: 0;
}
a{
    text-decoration: none;
}
header{
    /* background-color: rgba(54, 54, 54, 0.95); */
    /* width: 100%; */
}
body{
    overflow-x: hidden;
    /* background-color: rgb(54, 54, 54); */
    background-image: url(/images/glowmenuBG.jpg);
    background-repeat: no-repeat;
    background-position-y: 80%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#nav{
    background-color: rgba(54, 54, 54, 0.95);
    padding: 5%;
    width: 100vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: width 0.6s linear;
}
nav.active{
    display: flex;
    width: 450px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 75px;
}
nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
}
nav.active ul{
    width: 100%;
}
nav ul li{
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear
}
nav.active ul li{
    opacity: 1;
    transform: rotateY(360deg);
}
nav ul a{
    position: relative;
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.icon{
    background-color: rgb(54, 54, 54);
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
}
.icon .line{
     background-color: #000;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
}
.icon .line2{
    top: auto;
    bottom: 10px;
}
nav.active .icon .line1{
    transform: rotate(-765deg) translateY(5.5px);
}
nav.active .icon .line2{
    transform: rotate(765deg) translateY(-5.5px);
}

/* styling for logo */
.logo{
    display: flex;
    background-position: center;
    background-size: 75%;
    background-repeat:no-repeat;
    /* background-image: url(/images/logo.jpg); */
    height: 400px;
    width: 600px;
    margin-bottom: 5%;
}
.hero{
    background-image: url(/images/bg\ image\ 3.jpg);
    background-size: cover;
    height: 80vh;
    width: 100vw;
}
/* styles for hours of operation details */
.hours{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 100px 500px;
    padding: 2%;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    border: solid 5px #665;
    border-radius: 15px;
}

.notes{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 50px 500px;
    padding: 2%;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    border: groove 5px #665;
    border-radius: 15px;
}
.mission{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding:  5% 25%;
    margin-bottom: 2%;
}
.panel.active{
    background-color: rgba(54, 54, 54, 0.80);
}
.panel.active h2{
    font-size: 5rem;
    background-color: rgba(54, 54, 54, 0.80);
    transition:0.6s ease-in;
}
.interactiveMenu{
    text-align: center;
    /* background-color: yellow; */
    width: 80vw;
    height: 100%;
    padding-bottom: 5%;
}
.foodMenu{
    color: white;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/food.jpg);
    padding: 15%;
    margin-bottom: 5%;
    -webkit-box-shadow: 5px 5px 15px 5px #FFFFFF; 
    box-shadow: 5px 5px 15px 5px #FFFFFF;
}
.drinkMenu{
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/5cocktails.jpg);
    padding: 15%;
    margin-bottom: 5%;
    -webkit-box-shadow: 5px 5px 15px 5px #FFFFFF; 
box-shadow: 5px 5px 15px 5px #FFFFFF;
}
.contactUs{
    color: white;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/contactus.jpg);
    padding: 15%;
    margin-bottom: 5%;
    -webkit-box-shadow: 5px 5px 15px 5px #FFFFFF; 
box-shadow: 5px 5px 15px 5px #FFFFFF;
}
.socialMedia{
    color: white;
    background-position-y: 65%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/social.jpg);
    padding: 15%;
    margin-bottom: 5%;
    -webkit-box-shadow: 5px 5px 15px 5px #FFFFFF; 
box-shadow: 5px 5px 15px 5px #FFFFFF;
}
.footer{
    text-align: center;
    background-color: rgb(54, 54, 54);
    color: #FFFFFF;
    width: 100vw;
}